# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
env/
*.egg-info/
dist/
build/

# Logs
*.log

# OS
Thumbs.db
desktop.ini
.DS_Store

# IDE
.vscode/
.idea/
*.swp

# Project
config.toml
